<!DOCTYPE html>

<html>
    <head>
        <title>How it works</title>
    </head>

    <body>
    <h1>Features Description</h1>
    <p>Academic reputation - Looks at the teaching and research quality at the world's universities.</p>
    <p>Employer reputation - Assess how institutions prepare students for successful careers,
        and how the institution provides competent, innovative, and effective graduates.</p>
    <p>Faculty/student Score - Assess how institutions provide students with meaningful access to lecturers and tutors.</p>
    <p> Citations per faculty - Measures university research quality with a citation per faculty metric, taking the total number of academic citations in papers produced by a university in a five-year period.</p>
    <p>International student score -  It demonstrates the ability to attract quality students and staff from across the world, and it implies a highly global outlook. Strong international institutions provide a multinational environment, building international sympathies and global awareness.</p>

    <h2>Based on Classifications</h2>
    <h3>Size</h3>
    <p>Based on the (full time equivalent) size of the degree-seeking student body. Where an FTE number is not provided or available, one will be estimated based on common characteristics of other institutions in the country or region in question.
        Size Students<br>
        XL Extra Large More than 30,000<br>
        L Large >=12,000<br>
        M Medium >=5,000<br>
        S Small Fewer than 5,000</p>

    <h3>FOCUS/Subject Range</h3>
    <p>Four categories based on the institution's provision of programs in the five broad faculty areas used in the university rankings. Due to radically different publication habits and patterns in medicine, an additional category is added based on whether the subject institution has a medical school.
        Focus Faculty Area
        FC Full comprehensive All 5 faculty areas + medical school<br>
        CO Comprehensive All 5 faculty areas<br>
        FO Focused 3 or 4 faculty areas<br>
        SP Specialist 2 or fewer faculty areas</p>
    <h3>Research Intensity</h3>
    <p>Four levels of research activity evaluated based on the number of documents retrievable from Scopus in the five-year period preceding the application of the classification. The thresholds required to reach the different levels are different depending on the institution's pre-classifications.
        RESEARCH INTENSITY<br>
        VH Very High<br>
        HI High<br>
        MD Medium<br>
        LO Low</p>

    <h3>Status</h3>
    <p>
        The staus of the university according to popular opinion<br>
        A high<br>
        B Mid<br>
        C Low<br>
    </p>
    </body>
    <a href="{{ url_for('index') }}">Home</a>
</html>