<!DOCTYPE html>

<html>
    <!--From Hamoye deep learning team Premier Project-->
    <head>
        <title> Predicting the overall score</title>
        <style>
            h1 {font-family: 'Times New Roman';}
            body {background-color: rgb(255, 248, 248);}
        </style>
    </head>

    <body>
        <h1>PREDICTING OVERALL SCORE FOR UNIVERSITY</h1> 
        <br>
        <form action="{{ url_for('prediction') }}" method = "post">
            <label for = "Classification_Size">Classification Size</label>
            <select id = "Classification_Size" name = "Classification_Size" required = "required">
                <option value = "XL">XL- EXTRA LARGE</option>
                <option value = "L">L- LARGE</option>
                <option value = "M">M- MEDUIM</option>
                <option value = "S">S- SMALL</option>
            </select>
            <br>
            <br>
            <label for = "Classification_Focus">Classification Focus</label>
            <select id = "Classification_Focus" name = "Classification_Focus" required = "required">
                <option value = "CO">CO- COMPREHENSIVE</option>
                <option value = "FC">FC- FULL COMPREHENSIVE</option>
                <option value = "FO">FO- FOCUSED</option>
                <option value = "SP">SP- SPECIALIST</option>
            </select>
            <br>
            <br>
            <label for = "Research_Intensity">Research Intensity</label>
            <select id = "Research_Intensity" name = "Research_Intensity" required = "required">
                <option value = "VH">VERY HIGH</option>
                <option value = "HI">HIGH</option>
                <option value = "MD">MEDIUM</option>
                <option value = "LO">LOW</option>
            </select>
            <br>
            <br>
            <label for = "Status">Status</label>
            <select id = "Status" name = "Status" required = "required">
                <option value = "A">A</option>
                <option value = "B">B</option>
                <option value = "C">C</option>
            </select>
            <br>
            <br>
            <label for = "Academic_Reputation_Score">Academic Reputation Score (0 - 100)</label>
            <input type = "number" id = "Academic_Reputation_Score" name = "Academic_Reputation_Score" max = 100 required = "required">
            <br>
            <br>
            <label for = "Employer_Reputation_Score">Employer Reputation Score (0 - 100)</label>
            <input type = "number" id = "Employer_Reputation_Score" name = "Employer_Reputation_Score" max = 100 required = "required">
            <br>
            <br>
            <label for = "Faculty_Student_Score">Faculty Student Score (0 - 100)</label>
            <input type = "number" id = "Faculty_Student_Score" name = "Faculty_Student_Score" max = 100 required = "required">
            <br>
            <br>
            <label for = "Citations_Per_Faculty_Score">Citations Per Faculty Score (0 - 100)</label>
            <input type = "number" id = "Citations_Per_Faculty_Score" name = "Citations_Per_Faculty_Score" max = 100 required = "required">
            <br>
            <br>
            <label for = "International_Faculty_Score">International Faculty Score (0 - 100)</label>
            <input type = "number" id = "International_Faculty_Score" name = "International_Faculty_Score" max = 100 required = "required">
            <br>
            <br>
            <label for = "International_Student_Score">International Student Score (0 - 100)</label>
            <input type = "number" id = "International_Student_Score" name = "International_Student_Score" max = 100 required = "required">
            <br>
            <br>
            <input type = "submit" value = "Submit">
        </form>

        {% if prediction %}
            <p> The predicted overall score is {{ prediction }} </p>
        {% endif %}

    </body>
    <br>
    <br>
    <div style = "position : relative;">
        <a href="{{ url_for('help') }}">Help</a>
        <div style="position: absolute; bottom: 10;">
            2022 (c) Team Deep Learning
        </div>
    </div>

</html>